# Application server for both development and production.
gunicorn==19.9.0

# Plotly dash, creating graphs and dashboards
dash==1.9.1
dash-daq==0.4.0
dash-bootstrap-components==0.9.1
chart_studio

# Utils
requests==2.23.0

# Data wrangling and manipulation
pandas==1.0.3
scipy==1.10.0